*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none

.container
  max-width: 1170px
  margin: auto  

li 
  list-style-type: none  
a
  text-decoration: none

button
  cursor: pointer  

section
  padding: 110px 0px 110px 0px  

.section__title
  margin-bottom: 70px
  font-family: GothamSSm
  font-size: 40px
  font-weight: 900  

.button
  border-radius: 5px
  background-image: linear-gradient(to top, #00499c, #0078c2)
  border: none
  padding: 12px 30px
  font-family: HelveticaNeueCyr
  font-size: 17px
  font-weight: 500
  line-height: 18px
  letter-spacing: 0.34px
  color: #fff 






@media (max-width: 1200px) 
  .container
    padding: 0px 20px

@media (max-width: 576px) 
  .section__title
    font-size: 25px
    margin-bottom: 40px

  section
    padding: 75px 0px 75px 0px  